 

.yes {
	background: green;
}

.no {
	background: red;
}

.important, .not_completed {
	background: red; /* Значительная ошибка */
}
.serious {
	background: orange; /* Серьезная ошибка */
}
.error {
	background: yellow; /* Ошибка */
}
.not_done {
	background: #bebebe; /* Не выполнено */
}
 

label:hover {
	cursor: pointer;
}
.ctrls {margin-right: 20px;}

table.grain-tables-table-view { border: 1px solid #999999; border-collapse: collapse }
table.grain-tables-table-view td { padding: 4px !important; border: 1px solid #999999 !important }
table.grain-tables-table-view thead td { background-color: #EAEAEA }
table.grain-tables-table-view thead div.grain-tables-table-view-tooltip { font-size: 0.8em }

table.grain-tables-table-view tfoot a { text-decoration: none }
table.grain-tables-table-view tfoot a img { vertical-align: middle }
table.grain-tables-table-view tfoot a span { text-decoration: underline }